.dashlist_container{
    list-style: none;
}
.dashList_list{
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(199, 199, 199);
    color: rgb(43, 43, 43);
}

.dashList_list:hover{
    background-color: rgb(226, 226, 226);
}
.dashList_list_link:last-child{
    border-bottom: 1px solid rgb(199, 199, 199);
}