.dashlist_container{
    list-style: none;
}
.dashList_list{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.dashList_list:nth-child(1){
    border-top: 1px solid rgb(199, 199, 199);
    
}