.userdash_products_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 10px;
    height: 100%;
    overflow-y: auto;
    animation: SlideUp 0.3s ease;
}
@keyframes SlideUp {
    from {
        transform: translateY(-5px);
        opacity: 0;
      }
      50% {
        transform: translateY(2px);
        opacity: 1;
      }
      to {
        transform: translateY(0px);
    }
}
.userdash_manage_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.userdash_manage_buttons h3{
    font-size: 22px;
    font-weight: 500;
}
.manageProduct_single{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 5px;
}
.product_name h5{
    font-size: 16px;
    font-weight: 500;
}