.profile_container{
    padding: 10px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

@media only screen and (max-width: 600px) {
    .profile_container{
        flex-direction: column;
    }

}